.newsletter-container{
    background-color: rgb(21, 21, 126);
    background-image:url(../assets/img/fondo.png);
    background-repeat: no-repeat;
    background-position:50% -20%;
    padding: -1%;

}

.header-container{
    text-align: center;
    margin-top: 1%;

}

.header-container img{
    width: 40%;
}

.section-container{
    background-color: #ff3131;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -1.3%;
    padding-top: 1%;
    padding-bottom: 5%;
}

.section-container h1{
    color: yellow;
    font-size: 300%;
    font-family: 'Rubik Bubbles';
    letter-spacing: 5px;
}

.section-container h2{
    color: yellow;
    font-size: 200%;
    margin-top: -5%;
    font-family: 'Rubik Bubbles';
}

.section-container img{
    margin-top: -3%;
    width: 10%;

}

.section-container h5{
    color: yellow;
    font-size: 150%;
    margin-top: 2%;
    font-family: 'Rubik Bubbles';
}

.section-container p{
    margin-top: -2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 7%;
}

.section-container a{
    border-radius: 80px;
    letter-spacing: 2px;
    padding: 10px 70px 10px 70px;
    font-size: 20px;
    background-color: yellow;
    color: black;
    font-weight: bold;
    transition: 0.5s;    
    text-decoration: none;
}

/*Animacion del boton*/
.section-container a:hover{
    border: none;
    border-radius: 80px;
    letter-spacing: 2px;
    padding: 10px 70px 10px 70px;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: bold;
    transition: 0.5s;
}

.footer-container{
    background-color: #ff3131;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: -1.3%;
    padding-top: 1%;
    padding-bottom: 2%;
}

.social {
    font-size: 130%;
    text-align: center;
    padding-right: 3%;
    padding-bottom: 2%;
    margin-top: -5%;
}

.social a{
    padding-left: 2%;
    text-decoration: none;
    color:black;
}


.footer-container p a{
    text-decoration: none;
}





@media screen and (max-width: 480px) {
    
    .header-container img{
        width: 80%;
    }
    .section-container{

        margin-left: 10%;
        margin-right: 10%;
        margin-top: -1.3%;
        padding-top: 1%;
        padding-bottom: 5%;
    }

    .footer-container{

        margin-left: 10%;
        margin-right: 10%;
        margin-top: -1%;
        padding-top: 7%;
        padding-bottom: 2%;
    }

}
