/*--------------------COMENTARIOS------------------------*/


/*Comentarios de cada persona */
.comentarios{
    background-color: var(--color5);
    justify-items: center;
    width: 100%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin: auto;
}
/*ajustes del titulo*/
.comentarios h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 180%;
}

/*ajustes del caja completa*/
.comentarios .coment{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 10%;
    margin-right: 10%;
}

/*ajustes del de los cards*/
.card {
    width: 300px;
}

.header {
    display: flex;
    gap: 6%;
    align-items: center;
}

.header img {
    height: 110px;
    width: 40%;
    margin:1%;
    border-radius: 50%;
}

.message {
    color: var(--gris);
    letter-spacing: 0px;

    font-family: 'Courier New', Courier, monospace;
}

.name {
    margin-top: 0.25rem;
    font-size: 150%;
    text-align: center;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
}

.name2 {
    font-weight: 60%;
    margin-top:-5% ;
    font-weight: lighter;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
