@import url('./general.css');
@import url('./navbar.css');
@import url('./presentacion.css');
@import url('./descipcion.css');
@import url('./proyectos.css');
@import url('./comentarios.css');
@import url('./contacto.css');
